html,body{
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  background-color: #1b232f00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.device{
  position: absolute;
  width: 431px;
  height: 862px;
  transform: scale(0.75);
}

.device-frame {
  position: absolute;
  width: 431px;
  height: 862px;
}

.app {
  position: absolute;
  left: 28px;
  top: 25px;
  width: 375px;
  height: 812px;
  overflow: hidden;
}

.ui{
  position: absolute;
  width: 375px;
  height: 812px;
}

#ui-cover{
  position: absolute;
  left: 105px;
  top: 110px;
  width: 164px;
  height: 164px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 10px rgba(0, 0, 0, 0.05);
  background-size: cover;
  cursor:pointer;
}

#glsl-canvas {
  position: absolute;
  width: 375px;
  height: 812px;
}

#image-loader {
  display: none;
  position: absolute;
  cursor: pointer;
}

#pre-canvas {
  position: absolute;
  width: 164px;
  height: 164px;
  border-radius: 10px;
  background-size: cover;
  cursor:pointer;
  z-index: 1;
  opacity: 0;
}